h1 {
  text-align: center;
}

label {
  padding: 15px;
}

input[type=text] {
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input[type=submit] {
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: #000;
  border-radius: 100px;
}

.text-bold {
  font-weight: bold;
}

.App {
  margin: 50px auto;
  width: 40%;
  border: 3px solid #0c1303;
  padding: 10px;
  text-align: justify;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
